
	</body>
</html>


<!-- 
October 14th, 2018 - Update

If you're getting an error like this: DeprecationWarning: collection.findAndModify is deprecated. Use findOneAndUpdate, findOneAndReplace or findOneAndDelete instead.

then please see here.

or if you're getting: DeprecationWarning: collection.remove is deprecated. Use deleteOne, deleteMany, or bulkWrite instead.

then see here.

September 18th, 2018 - Update:

If you're getting an error like this: DeprecationWarning: collection.ensureIndex is deprecated. Use createIndexes instead.

then please see here.

August 23rd, 2018 - Update:

If you're getting an error like this: DeprecationWarning: collection.find option [fields] is deprecated and will be removed in a later version.

then see here for an explanation of what's going on.
(TL;DR: you can ignore this warning)


July 5th, 2018 - Update:

If you're getting an error like this: UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): MongoError: port must be specified  

or this:

DeprecationWarning: current URL string parser is deprecated, and will be removed in a future version. To use the new parser, pass option { useNewUrlParser: true } to MongoClient.connect.  -->